.qqnav{
    background-color: white;
    color: black;
    height: 10vh;
    box-sizing: border-box;
}

.qqnav a{
	color: black;
    text-decoration: none;
}

.qqnav > div{
    height: 100%; 
}

.qqnav .qq1 h4{
    margin: auto 20px auto 20px;
}

.qqnav .nav{
    padding: 0 !important;
    --bs-nav-link-padding-x: 10px !important;
    --bs-nav-link-padding-y: 5px !important;
}

.qqnav .col-5{
	width: 40% !important;
}

.qqnav .col-4{
	width: 32% !important;
}

.qqnav .col-3{
	width: 28% !important;
}

.qqnav .txt{
	position: absolute;
	border: 0;
	margin-left: 0.1vh;
}

.qqnav .search{
	padding-left: 8vh;
}